<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyALYR2sNMdEwrpp7I1Uwu_O6lpszn4Ei5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1070777957323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.svc.WealthWise</string>
	<key>PROJECT_ID</key>
	<string>svc-wealthwise</string>
	<key>STORAGE_BUCKET</key>
	<string>svc-wealthwise.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070777957323:ios:ab6c6759c2e85b7005544e</string>
</dict>
</plist>